---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
import LinkMuted from '../components/LinkMuted.astro';
---

<Layout title="Push-Up! links">
	<main
		class=`
			flex
			flex-col
			gap-7
			items-center
			justify-center
			min-h-screen
			px-3
			py-5
			text-center
		`
	>
		<div class=`
			w-screen
			px-3
		`>
			<h1
				class=`
				[text-shadow:0_2px_4px_rgba(255,255,255,.25)]
				inline-block
				font-extrabold
				leading-tight
				text-[clamp(3rem,_2vw_+_2rem,_4rem)]
				bg-gradient-to-b from-[#191919] to-[#242424]
				text-transparent
				uppercase
				bg-clip-text
			`
			>
				Push-Up!
			</h1>
		</div>
		<div class=`
			flex
			flex-col
			gap-9
			items-center
			justify-center
		`>
			<p
				class=`
			[text-shadow:0_2px_4px_rgba(255,255,255,.4)]
			text-gray-1000
			text-xl
		`
			>
				A tactical card game of risk&nbsp;and&nbsp;runs
			</p>
			<ul class=`
				flex
				flex-col
				gap-4
				max-w-80
				w-full
			`>
				<Link
					href="https://youtu.be/Ub_pBHszvvQ"
					icon="youtube-color"
					label="Watch an overview"
				/>
				<Link
					href="https://drive.google.com/drive/folders/1_BOS_NtpEYSi0OBvidLxcq2MHtID7krm?usp=drive_link"
					icon="google-drive-color"
					label="View the Sell Sheet"
				/>
				<Link
					href="https://docs.google.com/document/d/1y27aewVLrul2YGeKQC8u-n9z-JSmAmu4wP0vGzx-RuU/edit?usp=drive_link"
					icon="google-docs-color"
					label="Read the rules"
				/>
				<Link
					href="https://screentop.gg/@stowball1/push-up"
					icon="screentop"
					label="Play on Screentop.gg"
				/>
				<Link
					href="https://drive.google.com/drive/folders/1OTK7bSDQiZ5Eek0DQsYvp6c0AKEjiAHy?usp=drive_link"
					icon="printer"
					label="Get the Print and Play"
				/>
				<LinkMuted
					href="mailto:matt@mattstow.com?subject=Push-Up!"
					icon="email"
					label="Email me"
				/>
			</ul>
			<div class=`
				flex
				flex-col
				gap-4
				max-w-80
				w-full
			`>
				<h2 class="text-gray-100">You might also like:</h2>
				<ul class=`
					flex
					gap-4
				`>
					<LinkMuted
						href="https://venticotto.mattstow.com"
						label="Venticotto"
					/>
					<LinkMuted
						href="https://not-so-fast.mattstow.com"
						label="Not So Fast"
					/>
				</ul>
			</div>
			<p class="text-gray-100">Designed by Matt Stow</p>
		</div>
	</main>
</Layout>
